./.idea
./__pycache__
./.pytest_cache
./.git
./.gitignore
./p2/practica2/positivo1/*
./p2/practica2/positivo2/*
./p2/practica2/positivo3/*
./p2/practica2/positivo4/*
./p2/practica2/positivo5/*
./p2/practica2/positivo6/*
./p2/practica2/negativo1/*
./p2/practica2/negativo2/*
./p2/practica2/negativo3/*
./p2/practica2/negativo4/*
./p2/practica2/negativo5/*
./p2/practica2/negativo6/*